<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLX Idea</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="" alt="logo" height="100px" width="auto ">
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col2">
                    <h1><em>Buy and Sell</em></h1>
                    <p>Made for VIT Students <br> Life made Easy</p>
                    <a href="" class = "btn">Explore Now </a>
                </div>
                <div class="col2">
                    <img src="" alt="">
                </div>
                <div class="col2"></div>
            </div>
        </div>

    </div>
</body>
</html>
